<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Holly Germ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</head>

<body>
    <section class="msger" id="chatContainer">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-bug"></i> Holly Germ <i class="fas fa-bug"></i>
            </div>
        </header>

        <main class="msger-chat">
            <div class="msg left-msg">
                <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>
                <div class="msg-bubble">
                    <div class="msg-info">
                        <div class="msg-info-name">Holly Germ</div>
                    </div>
                    <div class="msg-text">
                        "Hey! I'm Holly, your holiday expert. 😄 I love talking about<br> 
                        all the holidays in the Philippines, and I can help<br> 
                        you with the dates, meanings,or anything you’re curious<br> 
                        about! But hey, don't be shy to ask me about myself too<br> 
                        I'm pretty friendly! So, what’s on your mind today?"<br> 
                    </div>
                </div>
            </div>
        </main>

        <form class="msger-inputarea" id="chatForm">
            <input type="text" class="msger-input" id="textInput" placeholder="Enter your message..." required>
            <input type="hidden" id="context" value="">
            <input type="hidden" id="info" value="">
            <input type="hidden" id="pattern" value="">
            <button type="submit" class="msger-send-btn">Send</button>
        </form>
    </section>
</body>

</html>
